header {
  padding: 1vw 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.nav-right p {
  padding: 0 1vw;
}

nav h2 {
  font-family: pacifico;
}
.active {
  fill: #f5699c80;
  color: #f5699c80;
}
